{% extends "base.html" %}
{% block title %}num-info{% endblock %}
{% block content %}
<style>
	h1 {
		text-align: center;
		color: var(--nord10);
		background: -webkit-linear-gradient(var(--nord10), var(--nord9));
		background-clip: inherit;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: bold;
	}

	hr {
		color: var(--nord0);
	}

	#heading {
		background: linear-gradient(var(--nord0), var(--merc0) 60%, var(--nord0))
	}

	.button_class {
		font-weight: bold;
		width: 900px;
		height: 50px;
		border: var(--nord0);
		color: var(--nord0);
		background-color: var(--nord7);
	}

	.horizontal-center {
		margin: 0;
		position: absolute;
		top: 25%;
		left: 50%;
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.table_style {
		border: 2px solid var(--nord0);
		margin-left: 20px;
		margin-top: 10px;
		margin-bottom: 20px;
		width: 900px;
		height: 80px
	}

	.tr_style {
		border: 2px solid var(--nord0);
		border-color: var(--nord0);
		background-color: var(--nord9);
		width: 900px;
		height: 80px
	}

	.td_style_1 {
		border: 3px solid var(--nord7);
		border-color: var(--nord7);
		background-color: var(--nord2);
		color: var(--nord8);
		width: 350px;
		height: 80px
	}

	th {
		border: 3px solid var(--nord8);
	}
	
	.card.card-body {
		background-color: var(--nord2);
		color: var(--nord8);
		font-weight: bold;
		border: 3px solid var(--nord7)
	}
</style>

<div id="heading">
	<h1>
		DOCUMENTATION
	</h1>
	<hr>
</div>

<div class="horizontal-center">


	<div>
		<button type="button" class="btn btn-primary button_class" onmouseover="change_color(this)"
			onmouseout="restore_color(this)" data-toggle="collapse" data-target="#welcome-card">WELCOME</button>
	</div>
	<div class="collapse" id="welcome-card">
		<div class="card card-body">
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
		</div>
	</div>
	<br>
	<br>


	<div>
		<button type="button" class="btn btn-primary button_class" onmouseover="change_color(this)"
			onmouseout="restore_color(this)" data-toggle="collapse" data-target="#installation-card">INSTALLATION</button>
	</div>
	<div class="collapse" id="installation-card">
		<div class="card card-body">
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
		</div>
	</div>
	<br>
	<br>


	<div>
		<button type="button" class="btn btn-primary button_class" onmouseover="change_color(this)"
			onmouseout="restore_color(this)" data-toggle="collapse" data-target="#allowed-formats-card">ALLOWED FORMATS</button>
	</div>
	<div class="collapse" id="allowed-formats-card">
		<div class="card card-body">
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
		</div>
	</div>
	<br>
	<br>


	<div>
		<button type="button" class="btn btn-primary button_class" onmouseover="change_color(this)"
			onmouseout="restore_color(this)" data-toggle="collapse" data-target="#getting-started-card">GETTING STARTED</button>
	</div>
	<div class="collapse" id="getting-started-card">
		<div class="card card-body">
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
		</div>
	</div>
	<br>
	<br>


	<div>
		<button type="button" class="btn btn-primary button_class" onmouseover="change_color(this)"
			onmouseout="restore_color(this)" data-toggle="collapse" data-target="#resources-card">RESOURCES</button>
	</div>
	<div class="collapse" id="resources-card">
		<div class="card card-body">
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
		</div>
	</div>
	<br>
	<br>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</div>


<script>
	let nord0 = "#2E3440";
	let nord1 = "#3B4252";
	let nord7 = "#8FBCBB";
	let merc0 = "#212529";
	let merc1 = "#009688";

	function change_color(current_element) {
		current_element.style["background-color"] = nord1
		current_element.style["border-color"] = nord1
		current_element.style["color"] = nord7
	}

	function restore_color(current_element) {
		current_element.style["background-color"] = nord7
		current_element.style["border-color"] = nord7
		current_element.style["color"] = nord1
	}

</script>

{% endblock %}