{% extends "base.html" %}
{% block title %}error{% endblock %}
{% block content %}

<style>
	#heading {
        background: linear-gradient(var(--nord0), var(--merc0) 60%, var(--nord0))
	}

    h1 {
        text-align: center;
        color: var(--nord14);
        background: -webkit-linear-gradient(var(--nord11), var(--nord15));
        background-clip: inherit;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

    #mydiv {
        position: relative;
        text-align: center;
        margin-top: 5%;
        margin-left: 46%;
        margin-right: 46%;
        color: var(--nord4);
        background-color: var(--nord11);
    }

    #mydiv1 {
        position: relative;
        text-align: center;
        margin-top: 5%;
        margin-left: 42%;
        margin-right: 42%;
        color: var(--nord1);
        background-color: var(--nord13);
    }

    hr {
        color: var(--nord0);
    }
</style>

<div id="heading">
    <h1>ERROR</h1>
    <hr>
</div>

<br />
<br />
<br />

<div id="mydiv" class="alert alert-danger" role="alert">Error!</div>
<div id="mydiv1" class="alert alert-warning" role="alert">
    Incorrect number entered!
</div>
{% endblock %}