{% extends "base.html" %}
{% block title %}num-info{% endblock %}
{% block content %}
<div class="my-md-3 container">
    <div class="row">
        <div class="container col-12">
            <div>
                <form action="#" method="post">
                    <div
                        id="input-group-1"
                        role="group"
                        class="form-group"
                    >
                        <label
                            id="input-group-1__BV_label_"
                            for="input-1"
                            class="d-block"
                            ><h5>Phone number :</h5></label
                        >
                        <div>
                            <input
                                id="input-number",
                                name="name_input_number"
                                type="tel"
                                placeholder="e.g: 33678132393"
                                required="required"
                                aria-required="true"
                                class="form-control"
                            />
                            <small
                                tabindex="-1"
                                id="input-group-1__BV_description_"
                                class="form-text text-muted"
                                >Only accepts E164 and International
                                formats as input.</small
                            >
                        </div>
                        <br />
                    </div>
                    <hr></h/>
                    <div
                        id="input-group-1"
                        role="group"
                        class="form-group"
                    >
                        <label
                            id="input-group-1__BV_label_"
                            for="input-1"
                            class="d-block"
                            ><h5
                                >Optional Lookups: (recommended)</h5
                            ></label
                        >
                        <br />
                        <script type = "text/javascript">
                            function divDisplay(vehicle1) {
                                var divContent = document.getElementById("microsoft-sign-in-credentials-zone")
                                divContent.style.display = vehicle1.checked ? "block" : "none";
                            }
                        </script>
                        <form>
                            <input
                                type="checkbox"
                                id="truecaller-lookup"
                                name="name_truecaller_lookup"
                                value="checked"
                                onclick= "divDisplay(this)"
                            />
                            <label for="vehicle1"> Truecaller (Microsoft account required): </label>
                            <div id="microsoft-sign-in-credentials-zone" name="name_microsoft_sign_in_credentials_zone" style = "display:none" >
                                <form action="#">
                                    &nbsp;&nbsp;<label for="uname">Email address:</label><br>
                                    &nbsp;&nbsp;<input type="email" id="uname" name="uname"><br>
                                    &nbsp;&nbsp;<label for="pwsd">Password :</label><br>
                                    &nbsp;&nbsp;<input type="password" id="pwsd" name="pwsd"><br>
                                </form>
                            </div>
                            
                            <br/>
                            <input
                                type="checkbox"
                                id="phndir-lookup"
                                name="name_phndir_lookup"
                                value="checked"
                            />
                            <label for="vehicle2"> Phndir: </label
                            ><br /><br />
                            <button
                                type="submit"
                                class="btn m-1 btn-dark btn-sm"
                                value="phone_no"
                            >
                                Run lookup
                            </button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
